{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Issuer": "FreshFarm.Identity",
    "Audience": "FreshFarm",
    "Key": "yourkey(Min: 32characters)"
  }
}