{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Services": {
    "Identity": {
      "BaseUrl": "https://localhost:7140"
    },
    "Internal": {
      "ServiceKey": ""
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "FreshFarmCatalogDB": "Server=localhost;Database=FreshFarmCatalogDB;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "Jwt": {
    "Issuer": "FreshFarm.Identity",
    "Audience": "FreshFarm",
    "Key": "yourkey(Min: 32 characters)"
  }
}
