{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Services": {
    "Identity": {
      "BaseUrl": "https://localhost:7140"
    },
    "Catalog": {
      "BaseUrl": "https://localhost:7245"
    },
    "Ordering": {
      "BaseUrl": "https://localhost:7018"
    }
  }
}
